body {
  font-family: Arial, sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;  
  font-size: medium ;
  background-color:  #1c1d23;
  color: white;

}
h1 {
  text-align: center;
}

.group-header {
  display: flex;
  align-items: center;
  padding: 5px 0;
  cursor: pointer;
  width: 50rem;
}
.expand-icon {
  margin-right: 5px;
  font-size: 0.8em;
}
.group-name {  
  flex-grow: 1;
  white-space: pre;
  width: 50rem;    
  -moz-border-radius: 13px 13px 13px 13px;
  border-radius: 13px 13px 13px 13px;
  -webkit-border-radius: 13px 13px 13px 13px;
  -moz-border-radius: 13px 13px 13px 13px;
  background: #5c3f55;
  border: 10px solid #5c3f55;
}
.group-count {
  padding: 5px;
  color: #a0a0a0;
}
.expandable:hover {
  -moz-border-radius: 13px 13px 13px 13px;
  border-radius: 13px 13px 13px 13px;
-webkit-border-radius: 13px 13px 13px 13px;
-moz-border-radius: 13px 13px 13px 13px;
background: #828483;
border: 5px solid #828483;
}
.group-items {
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
  align-items: center;
  margin-left: 20px;
}



.container {
    display: flex;
    justify-content: space-between;
}
.container-top{
  display: flex;
  justify-content: center;
}
.main-content {
    width: 70%;
}
.sidebar {
    width: 25%;
    padding: 20px;
    border-left: 1px solid #ccc;
    text-align: center;
}
.copy-btn {
    margin-top: 10px;
    cursor: pointer;
}