body {
  font-family: Arial, sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;  
  text-size-adjust: auto;
  font-size: medium ;
}

h1 {
  text-align: center;
}

.group-header {
  display: flex;
  align-items: center;
  padding: 5px 0;
  cursor: pointer;
  width: 50rem;
}
.expand-icon {
  margin-right: 5px;
  font-size: 0.8em;
}
.group-name {
  
  flex-grow: 1;
  white-space: pre;
  width: 50rem;
}
.group-count {
  color: #a0a0a0;
}
.expandable:hover {
  background-color: #3d3d3d;
}
.group-items {
  
  margin-left: 20px;
}