$pageBackground:  #1c1d23;
$fontColor: white;
$groupColor: #5c3f55;
$hoverGroupColor: #a0a0a0;
$buttonGenerateRep:  #007bff;

body{
  background-color:  $pageBackground;
  font-family: Arial;  
  font-size: medium ;
  color: $fontColor;
  zoom: 75%;
}
.parent {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px;
}
.main-section {
  width: 100%;
  max-width: 800px;
  padding: 20px;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}

.title-and-button {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

/*DROP DOWN MENU*/
.drop-down-menu{
  padding-top: 20%;
}
.group-fold { 
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: center;
  padding: 5px; 
  margin: 5px;
  cursor: pointer;
  height: 30px;
  border-radius: 40px;
  border: 10px $groupColor;
  background-color: $groupColor; 
}
.group-fold:hover { 
  border-radius: 40px;
  border: 10px solid $hoverGroupColor;  
}
.fold-button {
  background-color: $groupColor;
  border: $groupColor;
  border-radius: 40px;
  font-size: larger;
}
.fold-button:hover {
  border-radius: 40px;
  border: 10px solid $hoverGroupColor;  
}
.expandable-group{
 margin-left: 60px;
 display: flex;
 flex-direction: column-reverse;
}
.expandable-item{
  margin-left: 5%;
  display: flex;
  flex-direction: column-reverse;
 }
.container-list {
  display: flex;
  flex-direction: column-reverse; 
  margin-top: 5px;   
}
/*END DROP DOWN MENU*/

/*CODE BLOCK*/
.code-block {
  position: relative;
  background-color: $groupColor;
  padding: 20px;
  border-radius: 40px;
  margin: 20px 0;
  margin-right: 10px;
}
.code-box {
  padding: 16px;
  margin: 0;
  overflow-x: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 20px;
  background-color: #1c1d23;
  color: #d4d4d4;
}
.copy-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: $pageBackground;
  color: #d4d4d4;
  border: 1px solid #d4d4d4;
  border-radius: 40px;
  padding: 6px 12px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.copy-btn:hover {
  background-color: #b3b3b3;
  color: black;
}
/*END CODE BLOCK*/

/*GET REPORT*/
.generate-button {
  background-color: $buttonGenerateRep;
  color: $fontColor;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.generate-button:hover {
  background-color: #0056b3;
}
.report-section {
  margin-top: 20px;
  padding: 15px;
 
}
.get-report{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.progress {
  display: block;
  align-self: center;
  width: 100%;
  margin-bottom: 20px;
}
.progress-bar {
  width: 0;
  height: 20px;
  background-color: #4caf50;
  border-radius: 10px;
}
/*END GET REPORT*/